@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  clear: both;
  height: auto;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-color: #29265b;
  font-size: 18px;
}
.lpttlogo {
  width: 120px;
  height: 70px;
}
.googlemap {
  width: 100%;
  height: auto;
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
ul.footers{
  list-style-type: none;
  /* margin: 0; */
  padding-left: 0;
}
h6 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}