@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  clear: both;
  height: auto;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-color: #29265b;
  font-size: 18px;
}
.lpttlogo {
  width: 120px;
  height: 70px;
}
.googlemap {
  width: 100%;
  height: auto;
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
ul.footers{
  list-style-type: none;
  /* margin: 0; */
  padding-left: 0;
  font-size: 14px;
}
h6 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: white;
}
.card-body {
  background: #29265b !important;
  color: white !important;
  font-size: 18px !important;
  font-family: 'Montserrat', sans-serif !important;
}
.button {
  background-color: #29265b !important;
  border: none;
  /* color: red; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.linkmap {
  color: blue;
}
.fa {
  color: white !important;
  background-color: #29265b !important;
  /* background: black !important; */
}
li.spaced:before {
  content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0";
}
.imgzoom {
  transition: transform .5s;
}
.imgzoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}